body {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    margin: 0;
}

h1 {
    color: rgb(0, 53, 100); 
    text-align: center;
}

h4 {
    text-decoration: underline;
    font-size: 20px;
}


img {
    border-radius: 15%;
    border: 20px double rgb(253, 253, 227);
    width: 100%;
    height: 95%;
}

.receipe-container {
    margin: 3%;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 20% auto 35%;
    grid-template-areas: "image equipment" 
                         "image ingredients" 
                         "image steps";
    grid-gap: 1rem;
}

.receipe-image {
    grid-area: image;   
}

.receipe-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.receipe-text-items {
    line-height: 1.5;
    border: 20px double rgb(250, 250, 210);
}

#equipment {
    grid-area: equipment;
    background-color: rgb(199, 230, 240);
    order: 1;
}

#ingredients {
    grid-area: ingredients;
    background-color: rgb(247, 241, 242);
    order: 2;
}

#steps {
    grid-area: steps;
    background-color: rgb(222, 248, 222);
    order: 3;
}